.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 64px;

}


.logo {
  display: flex;
  align-items: center; 
  justify-content: center;
}

.title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 17px;
  line-height: 110%;
  letter-spacing: -0.01em;
  color: #FFFFFF;

}

.navigation {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 32px;
    list-style-type: none;
}

.navLink {
font-family: var(--second-family);
font-weight: 400;
font-size: 18px;
line-height: 150%;
color: #FFFFFF;
}

.signInBtn {
  border: 1px solid #FFFFFF;
  border-radius: 8px;
  padding: 4px 10px;
  width: 58px;
  height: 35px;
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: #FFFFFF;
  background: opacity(10%) #FFFFFF;
}
  .signUpBtn {
  border: 1px solid #FFFFFF;
  border-radius: 8px;
  padding: 4px 10px;
  width: 113px;
  height: 35px;
  background: #FFFFFF;
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: #000000;
  }