.hero {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
 
  
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 24px;
    margin-bottom: 32px;

}

.borders{
    padding-top: 244px;
    padding-bottom: 347px;
    
}


.title {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 56px;
  line-height: 110%;
  letter-spacing: -0.01em;
  color: #FFFFFF;

}

.subtitle {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #FFFFFF;
  
}


.moreButton {
    margin-top: 32px;
    border: 1px solid #4169E1;
    border-radius: 8px;
    padding: 6px 12px;
    background: #4169E1;
    font-family: var(--second-family);
    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
    color: #FFFFFF;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.moreButton:hover, 
.moreButton:focus {
    background-color: #E8EEFF;
    color:#000;
}

.moreButton:active {
  background-color: #7A96EA;
  color:#000;
}





